aiohttp==3.12.15
asyncio==3.4.3
ccxt==4.4.98
numpy==1.26.4
pandas==2.2.2
requests==2.32.4
python-telegram-bot==21.3
cryptography==45.0.5
aiohappyeyeballs==2.6.1
aiosignal==1.4.0
attrs==25.3.0
certifi==2025.7.14
charset-normalizer==3.4.2
frozenlist==1.7.0
idna==3.10
multidict==6.6.3
propcache==0.3.2
python-dateutil==2.9.0
pytz==2024.2
six==1.16.0
typing-extensions==4.14.1
urllib3==2.5.0
yarl==1.20.1 